<html>
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" i>
    <title>Overly Simple Spreadsheet</title>
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.css' %}"
          type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'SlickGrid-2.4.3/slick-default-theme.css' %}" type="text/css"
          media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'SlickGrid-2.4.3/slick.grid.css' %}" type="text/css"
          media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/examples.css' %}" type="text/css"
          media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/spreadsheet.css' %}" type="text/css"
    media="screen" charset="utf-8"/>

    <script type="text/javascript" src="{% static 'jquery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/lib/jquery.event.drag-2.3.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/lib/jquery.event.drop-2.3.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/slick.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/slick.editors.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/slick.grid.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/slick.formatters.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/plugins/slick.cellrangedecorator.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/plugins/slick.cellrangeselector.js' %}"></script>
    <script type="text/javascript" src="{% static 'SlickGrid-2.4.3/plugins/slick.cellselectionmodel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spreadsheet.js' %}"></script>

</head>
<body>
</body>
</html>